$main-color: #f47e00;
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
}
.base-layout{
  background-color: white;
}
.header-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #eee;

  .header {
    width: 100%;
    background-color: white;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 0 42px;
    ul {
      list-style: none;
      box-sizing: border-box;
      display: flex;
      padding-inline-start: 0;
      margin-block-end: 0;
      margin-block-start: 0;
      a {
        color: black;
        line-height: 20px;
        display: block;
        font-size: 14px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding: 16px 10px 13px 10px;
        font-weight: 700;
      }
      li.active{
        a{
          color: $main-color;
        }
      };
    }
  }
}

.main-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  .main {
    max-width: 1200px;
    background-color: white;
    padding: 0 42px;
    display: flex;
    flex-direction: row;
    .logo-wrapper{
      max-width: 1200px;
      padding: 42px 0;
      .logo{
        width: 136px;
      }
    }
    .content-wrapper,.side{
      padding: 0 10px;
    }
    .side:not(.ant-layout-sider-collapsed){
      padding: 30px;
      border-left: 1px solid #eee;
    }
    .side{
      background-color: white;
      h4{
        margin-top: 10px;
        font-size: 15px;
      }
      p{
        margin-top: 14px;
        font-size: 14px;
        line-height: 23px;
        color: #666;
      }
    }
  }
  border-bottom: 1px solid #eee;
}
.footer{
  display: flex;
  justify-content: center;
  a{
    color: $main-color;
  }
  background-color: white;
}
